# vim:ft=cfg
[defaults]
# Inventory sources
inventory=inventories/inventory.yaml
# Path to roles
roles_path=roles_galaxy:roles
# Path to collections
collections_path=collections_galaxy:collections
# Avoid host key checking
host_key_checking=false
# Verbosity, equivalent to the number of "-v" passed in the command line
# verbosity=0
